:root{
  --color-lightpurple--: rgb(137,96,158);
  --color-black--: rgb(0,0,0);
  --color-white--: rgb(255,255,255);
  --color-lightgrey--: rgb(179,179,179);
}
/* CSS för vårt grupparbete */
body{
  background-color: var(--color-lightpurple--);
}
h1{
  text-align: center;
  color: var(--color-white--);
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.boards{
  width: 30%;
  min-height: 100px;
  background-color: var(--color-lightgrey--);
}
.boards__iteamHead{
  margin-top: 1%;
  margin-left: 1%;
  font-size: 1.5em;
  font-weight: bold;
}
.boards__iteamsContainer{
  background-color: white;
}
.boards__addCardBtn{
  position: relative;
  bottom: -18%;
  left: 0%;
  padding-left: 4%;
  width: 96%;
  height: 5%;
  display: flex;
  background-color: var(--color-lightgrey--);
}
.boards__addCardBtn:hover{
  background-color: #6b808c;
}

.boards__addCardBtn__addSymbol{
  margin-right: 2%;
  font-size: 1em;
}
.boards__addCardBtn__addCardText{
  font-size: 1em;
}
